<%= form_tag search_path, :method => :post do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<form action="<%= search_path %>" method="post">
  <input type="text" name="search[query]">
  <select name="search[type]">
    <option value="all">All</option>
    <option value="bands">Bands</option>
    <option value="albums">Albums</option>
    <option value="tracks">Tracks</option>
  </select>
  <input type="submit" name="" value="search">
</form>
